@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.contact > h1{
    margin: 1rem 0 1rem;
    font-weight: 800;
    color: var(--theme-color);
}
.contact > h2{
    color: var(--theme-color);
    margin: 0.5em 0;
  }
.btn {
    color: white;
    display:inline-table;
    padding: 0.5rem 1.1rem;
    margin: auto 0.2rem 2rem;
}
.btn:hover {
    opacity: 0.9;
}
.btn__text {
    position: relative;
    left: 5px;
    display:table-cell;
    vertical-align:middle;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.btn__twitter {
    background: rgb(0, 172, 237);
}
.btn__github {
    background: rgb(79, 79, 79);
}

/*---------------------contact form-------------------------*/

form { 
    max-width:420px;
    margin:2rem auto;
}

.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--theme-color);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
    border:2px solid #CC4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:hsl(15, 100%, 25%);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover {
    background: hsl(15, 100%, 30%);
}

@media (min-width: 1200px){
    #contact-footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}