html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*--- navigation bar ---*/
.navbar {
    background:#6ab446;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

/*--- header ---*/
header {
    text-align: center;
    border: 2px green solid;
}
.header__content {
    margin: auto;
    border: 1px solid;
}
.header__img {
    width: 80%;
    height: auto;
    margin: 10% auto;
}

/*--- intro ---*/
.intro{
  padding: 1em;
  top: 1em;
}
.intro__services{
  font-weight: 700;
}
.intro__hire{
  text-align: center;
  font-size: 2rem;
}
.intro__contact{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

/*--- footer ---*/
footer{
  text-align: center;
  border-top: solid;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

@media (min-width: 1200px) { 
  .header__img {
    width: 60%;
  }
}