html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-size: 1.3rem;
}
/*--- navigation bar ---*/
.navbar {
    background: hsl(15, 100%, 20%);
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #000;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

/*--- header ---*/
header {
  text-align: center;
  background-image: linear-gradient(to bottom right, hsl(15, 100%, 20%) , hsl(15, 100%, 95%));
  
}
.header__content {
  text-align: left;
  margin: auto;
  max-width: 800px;
}
.header__content p{
  font-size: 2rem;
}
.header__img {
  width: 80%;
  height: auto;
  margin: 10% auto;
}

/*--- intro ---*/
.intro{
  padding: 1em;
  top: 1em;
}
.intro__services{
  font-weight: 700;
}
.intro__hire{
  text-align: center;
  font-size: 2rem;
}
.intro__contact{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

/*--- footer ---*/
footer{
  text-align: center;
  border-top: solid;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  background-color: black;
  color: hsl(0, 0%, 70%);
}

@media (min-width: 1200px) { 
  .header__img {
    width: 60%;
  }
}