
  .carousel {
    width: 100%;
    padding: 90px 0;
    text-align: center;
    background-image: linear-gradient(to bottom right, hsl(15, 100%, 25%) , hsl(15, 100%, 95%));
    font-size:16px;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner > .item {
    position: relative;
    display: none;
    animation: 0.5s ease-in-out;
  }
  
  .carousel-inner > .active,
  .carousel-inner > .next {
    display: block;
  }
  
  .carousel-inner > .next {
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .carousel-inner > .to-left {
    animation-name: left;
  }
  
  .carousel-inner > .from-right {
    animation-name: right;
  }
  
  .carousel-inner > .to-right {
    animation-name: right;
    animation-direction: reverse;
  }
  
  .carousel-inner > .from-left {
    animation-name: left;
    animation-direction: reverse;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid var(--theme-color);
  }
   
  /*--------------------Carousel control------------------------*/
  .carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    cursor: pointer;
  }
  
  .carousel-control.right {
    right: 0;
    left: auto;
  }
  
  .carousel-control > .arrow {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 60px; 
    transform: translateY(-50%);   
    background-color: hsl(20, 100%, 70%);
    border: 2px solid var(--theme-color);
    border-radius: 50%;
  }

  .carousel-control >.arrow.left{
    position: absolute;  
    left: 40%;
  }

  .carousel-control >.arrow.right{
    position: absolute;  
    right: 40%;
  }

  .carousel-control > .arrow.left::after,
  .carousel-control > .arrow.right::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid var(--theme-color);
  border-bottom: 2px solid var(--theme-color);
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel-control > .arrow.right::after {
    left: 47%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  /*classes added by jQuery*/
  .arrow-hover {
    background-color: hsl(20, 100%, 90%) !important;
  }
  .control-hover{
    background-color: rgba(255, 230, 204, 0.1);
  }
  

  /*------------------Carousel indicators---------------------------*/
  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
  }
  
  .carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 1px solid rgb(255, 153, 51);
    border-radius: 10px;
  }
  
  .carousel-indicators li.active {
    background-color: var(--theme-color);
  }

  /*------------------Media queries---------------------------*/
  @media (min-width: 320px) {
    .container {
      width: 320px;
      height: 180px;
    }
  }

  @media (min-width: 400px) {
    .container {
      width: 400px;
      height: 225px;
    }
  }

  @media (min-width: 600px) {
    .container {
      width: 580px;
      height: 326px;
    }
  }
  
  @media (min-width: 800px) {
    .container {
      width: 770px;
      height: 433px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
      height: 657px;
    }
  }
  
  @media (max-width: 570px) {
    .carousel-control >.arrow.left{
        position: absolute;  
        left: 5px;
      }
      .carousel-control >.arrow.right{
        position: absolute;  
        right: 5px;
      }
  }


/*------------------Keyframes---------------------------*/
  @keyframes left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes right {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }